Playlist Learner Platform (c) 2022

<h2>Controls</h2>
<table >
    <tr><td class="key"><i class="bi bi-pause-circle"></i></td><td>Pause Video</td></tr>
<tr><td class="key"><i class="bi bi-arrow-counterclockwise"></i></td><td>Replay Video</td></tr>
<tr><td class="key"><i class="bi bi-play-circle"></i></td><td>Play Video</td></tr>
<tr><td class="key"><i class="bi bi-skip-backward-circle"></i></td><td>Skip back</td></tr>
<tr><td class="key"><i class="bi bi-skip-forward-circle"></i></td><td>Skip forward</td></tr>
<tr><td class="key"><i class="bi bi-mortarboard"></i></td><td>Play extended Lesson</td></tr>
<tr><td class="key"><i class="bi bi-arrow-left-circle"></i></td><td>Close Lesson and Return to summary</td></tr>
<tr><td class="key"><button type="button" class="btn btn-outline-dark">S</button></td><td>Slow Speed</td></tr>
<tr><td class="key"><button type="button" class="btn btn-outline-dark">M</button></td><td>Medium Speed</td></tr>
<tr><td class="key"><button type="button" class="btn btn-outline-dark">N</button></td><td>Normal Speed</td></tr>
<tr><td class="key"><i class="bi bi-volume-mute"></i></td><td>Toggle Mute</td></tr>
<tr><td class="key"><i class="bi bi-volume-up"></i></td><td>Toggle Mute</td></tr>
<tr><td class="key"><i class="bi bi-x-circle"></i></td><td>Close Video</td></tr>
</table>

<br/>
<h2>Installing on IOS from Safari</h2>
Tap the Share button and click 'Add to Home Screen'

<br/>
<h2>Installing on Android from Edge</h2>
Tap the Add to home screen link at the bottom of the web page

@code {

    void Close()
    {
        
    }
}